*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    background-color:#0C134F ;
    height: 100vh;
    width: 10%;
    display: flex;
    flex-direction: column;
}
ul li {
    text-decoration: none;
    display: block;
    padding: 10px 0; 
}